#principal{
  background-image: url("../images/Fondos/inicio.png");
  display: block;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}

#monkey{
  display: none;
}

#start{
  width: 15%;
  height: 25px;
  margin-top: 450px;
  padding-bottom: 10px;
  padding-left: 120px;
}

#instructions{
  width: 18%;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 120px;
}

#bestPlayers{
  width: 18%;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 120px;
}

.distribuye{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.audio{
  display: none;
}
